//Colors of project 

//Brand Colors 

$primary-normal: #E63147;
$primary-dark: #AA0811;
$primary-ligth: #F05454;


//Neutral Colors 

$black-normal: #242222;
$black-dark: #171616;
$black-ligth: #363434;


$white-normal: #FCFAFA;
$white-dark: #EFEAEA;
$white-ligth: #FEFDFD;


//Gray Scale

$gray1: #464444;
$gray2: #565454;
$gray3: #666565;
$gray4: #767575;
$gray5: #878585;
$gray6: #979595;
$gray7: #A7A6A6;

.color-ligth {
    color:$white-ligth ;
}